h6 {color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;

}
.stage-direction {color:black;
    font-family: cursive;
    font-size: x-small;
    background-color:lightgoldenrodyellow;
    border: 5px coral;
    padding: auto;


}
.stage-direction:hover{
    background-color: pink;
    color: navy;
}
.name{
    font-size: small;
    font-style: italic;
    font-family: sans-serif;

}


.speech{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}
.LORDGORING{
    color: lightsalmon;
}
.james{
    color: skyblue;
}
.LORDCAVERSHAM{
    color:teal;
}
.Robert{
    color: thistle;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    width: 30%;
    padding: 6px;
    
}
tr:nth-child(odd){background-color:rgb(241, 223, 223);}

